menu "Amazon"

config AMAZON
	bool "Amazon Drivers"
	default N
	---help---
	  Enable support for various drivers needed on the Amazon Fire OS platform

if AMAZON

config AMAZON_LD
	tristate "Amazon LD Module"
	depends on TCPC_CLASS
	---help---
	  Say Y here if you want to enable Amazon Liquid Detection Module

config USER_BUILD
	bool "Indicate if user build"
	default n
	---help---
	  Indicate if user build

endif # if AMAZON

endmenu
