menu "Amazon"

config AMAZON
	bool "Amazon Drivers"
	default N
	---help---
	  Enable support for various drivers needed on the Amazon Fire OS platform

if AMAZON

config AMAZON_BOOTUP_KEEP_WATCHDOG
	bool "Keep watchdog enabled during system bootup"
	default N
	---help---
	  Keep watchdog enabled during system bootup

config AMAZON_LD
	tristate "Amazon LD Module"
	depends on TCPC_CLASS
	---help---
	  Say Y here if you want to enable Amazon Liquid Detection Module

config AMAZON_LD_SWITCH
	tristate "Amazon LD Module Switch Solution"
	depends on TCPC_CLASS
	---help---
	  Say Y here if you want to enable Amazon Liquid Detection Module

config AMZN_RT_TRACE
	tristate "Amazon memory based logger"
	default N
	---help---
	  Say Y here if you want to enable Amazon memory based runtime logger Module

config USER_BUILD
	bool "Indicate if user build"
	default n
	---help---
	  Indicate if user build

source "drivers/staging/amazon/dspframework/Kconfig"

endif # if AMAZON

endmenu
